@import '../../../node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '../../../node_modules/@syncfusion/ej2-react-navigations/styles/bootstrap.css';

.center-align {
    text-align: center;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

#head {
    border: 1px solid #424242;
    border-bottom-color: transparent;
    background: #00897b;
}

#toggle,
#toggle:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
}

.burg-icon:before {
    content: '\e10d';
    font-size: 16px;
}

.content {
    height: 100%;
}

/* #closebtn {
    top: 15px;
    line-height: 33px;
    height: 42px;
    color: black;
    position: absolute;
    right: 10px;
} */

.e-normal,
.e-normal:hover,
.e-noraml:active {
    background: transparent;
    box-shadow: none;
}

.e-sidebar.e-right {
    border-left: 0px transparent;
}
.e-sidebar.e-left {
    border-right: 0px transparent;
}

.radiobutton {
    text-align: center;
}

.listdiv {
    width: 100%;
}

.e-listview .e-list-item {
    text-align: center;
    font-size: 14px;
    padding: 0;
    background: rgb(20, 118, 210);
    color: white;
}

#listview {
    width: 30%;
    margin: 0 auto;
}

.control-section .content .radiobutton .row {
    padding: 10px;
    display: inline-block;
    margin: 0;
}

.center {
    text-align: center;
    display: none;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}

#default-sidebar {
    background-color: #33383e;
    color: #ffffff;
    margin-left: 70px;
}

#wrapper {
    display: block;
}

.right {
    float: right;
}

body {
    margin: 0;
}

.close-btn:hover,
.close-btn:active,
.close-btn:focus {
    background: #fafafa;
}
