.icon-bar {
    width: 70px;
    background-color: #282c34;
}
.icon-bar-container {
    width: 70px;
    background-color: #282c34;
    height: 100%;
    position: fixed;
    height: 100vh;
    z-index: 9999;
}

.icon-bar a {
    height: 70px;
    color: white;
}

.icon-bar a:hover {
    height: 70px;
    width: 70px;
    color: white;
    background-color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    width: 70px;
    background-color: #004085;
}

.nav-link {
    display: flex;
    justify-content: center;
    width: 70px;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-settings {
    position: fixed;
    bottom: 0;
    left: 0;
}
