.hamburger-button {
    text-align: right;
}

.hamburger-button .button:focus {
    margin: auto;
}

.header-container {
    background-color: #282c34;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 500;
}

